@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
.card-holder{
    margin-left :12.7%;
    margin-top : -11.5%;
}
.revenue-card{

    background-color: #fff;
    opacity : 0.93;
    border-radius: 30px;
    height : 11vh;
    width : 15vw;
    padding-top: 12px;
}
.circle{
    width : 42px;
    height : 42px;
    background: black;
    border-radius: 50%;
}
.dollar{
    color : #fff;
    font-weight: bold;
    font-size : large;
    margin-left : 16px;
    margin-top : -30px;
}
.logo{
    margin-left : 30px;
    margin-top : 24px;
}
.total-revenue{
    line-height: 25px;
    margin-left : 42%;
    margin-top : -18%;
}
.total-revenue .title{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.total-revenue .revenue{
    font-weight: bolder;
    font-size: 18px;
}
.progress-bar{
    margin-left: 42%;
    margin-top : 23px;
}
.progress-bar .full {
    background-color: lightgrey;
    width : 70%;
    height : 8px;
}
.progress-bar .percentage{
    background-color: rgb(80, 43, 184);
    width : 71%;
    height : 8px;
}
