.arrow{
    border: solid white;
    border-width : 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top:-20%;
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    
}
.arr{
    margin-top:-12%;
    margin-left: 47%;
}