.dots
{
    text-align: center;
    margin-top: 2%;
}
.dot1
{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    
}
.dot2
{
    height: 8px;
    width: 8px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    
}
.space
{
      display:inline-block;
      width:5px;
}