@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
.Name{
    padding-top : 2%;
    padding-left : 20%; 
}
.Name .username{
    color : #0f73c5;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.Name .user-position{
    color : rgb(97, 94, 94);
    font-family: 'Poppins', sans-serif;
    margin-left: -1%;
    font-weight: 400;
    
}
